In [1]:
import sqlite3

conn = sqlite3.connect('MOVIES.db')

print ("Opened database successfully");

Opened database successfully

In [2]:
conn.execute('''CREATE TABLE Movies
         (MOVIE        TEXT    NOT NULL,
         ACTOR              TEXT    NOT NULL,
         ACTRESS            TEXT    NOT NULL,
         YEAR               REAL,
        DIRECTOR       TEXT);''')
print ("Table created successfully");

Table created successfully

In [8]:
conn.execute("INSERT INTO Movies (MOVIE,ACTOR,ACTRESS,YEAR,DIRECTOR) \
      VALUES ('SAAHO', 'PRABHAS', 'SHRADDHA',2019, 'SUJEETH' )");

conn.execute("INSERT INTO Movies (MOVIE,ACTOR,ACTRESS,YEAR,DIRECTOR) \
      VALUES ('BAHUBALI', 'PRABHAS', 'TAMMANAH',2015, 'RAJAMOULI')");

conn.execute("INSERT INTO Movies(MOVIE,ACTOR,ACTRESS,YEAR,DIRECTOR) \
     VALUES ('JERSEY', 'NANI', 'SHRADDHA',2019, 'GOWTAM')");

conn.execute("INSERT INTO Movies(MOVIE,ACTOR,ACTRESS,YEAR,DIRECTOR) \
      VALUES ('KGF', 'YASH', 'SRINIDHI',2018, 'PRASHANTH')");

conn.execute("INSERT INTO Movies(MOVIE,ACTOR,ACTRESS,YEAR,DIRECTOR) \
      VALUES ('AFTER', 'FIENNES', 'JOSEPHINE',2019, 'JENNY')");

conn.execute("INSERT INTO Movies(MOVIE,ACTOR,ACTRESS,YEAR,DIRECTOR) \
      VALUES ('VAKEEL SAAB', 'PAVAN KALYAN', 'NIVETHA',2021, 'VENU')");

conn.execute("INSERT INTO Movies(MOVIE,ACTOR,ACTRESS,YEAR,DIRECTOR) \
      VALUES ('PUSHPA', 'ALLU ARJUN', 'RASHMIKA',2021, 'SUKUMAR')");

conn.execute("INSERT INTO Movies(MOVIE,ACTOR,ACTRESS,YEAR,DIRECTOR) \
     VALUES ('RACE GURRAM', 'ALLU ARJUN', 'SHRUTI HASSAN',2014, 'SURENDER')");

print ("Records created successfully");
conn.commit()

Records created successfully

In [9]:
cursor = conn.execute("SELECT MOVIE, ACTOR,ACTRESS,YEAR,DIRECTOR from Movies")
for row in cursor:
   print ("MOVIE = ", row[0])
   print ("ACTOR = ", row[1])
   print ("ACTRESS = ", row[2])
   print ("YEAR = ", row[3])
   print ("DIRECTOR = ", row[4]), "\n"

print ("Operation done successfully");

MOVIE =  SAAHO
ACTOR =  PRABHAS
ACTRESS =  SHRADDHA
YEAR =  2019.0
DIRECTOR =  SUJEETH
MOVIE =  BAHUBALI
ACTOR =  PRABHAS
ACTRESS =  TAMMANAH
YEAR =  2015.0
DIRECTOR =  RAJAMOULI
MOVIE =  JERSEY
ACTOR =  NANI
ACTRESS =  SHRADDHA
YEAR =  2019.0
DIRECTOR =  GOWTAM
MOVIE =  KGF
ACTOR =  YASH
ACTRESS =  SRINIDHI
YEAR =  2018.0
DIRECTOR =  PRASHANTH
MOVIE =  AFTER
ACTOR =  FIENNES
ACTRESS =  JOSEPHINE
YEAR =  2019.0
DIRECTOR =  JENNY
MOVIE =  VAKEEL SAAB
ACTOR =  PAVAN KALYAN
ACTRESS =  NIVETHA
YEAR =  2021.0
DIRECTOR =  VENU
MOVIE =  PUSHPA
ACTOR =  ALLU ARJUN
ACTRESS =  RASHMIKA
YEAR =  2021.0
DIRECTOR =  SUKUMAR
MOVIE =  RACE GURRAM
ACTOR =  ALLU ARJUN
ACTRESS =  SHRUTI HASSAN
YEAR =  2014.0
DIRECTOR =  SURENDER
Operation done successfully

In [11]:
conn = sqlite3.connect('MOVIESLIST.db')

for row in conn.execute('SELECT MOVIE FROM MoviesList WHERE ACTOR="PRABHAS" '):
    print(row)
conn.commit()

('SAAHO',)
('BAHUBALI',)
('PUSHPA',)
('SAAHO',)
('BAHUBALI',)
('PUSHPA',)